fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv
pgvector
python-multipart
azure-storage-blob
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
openai
tiktoken
tenacity
